

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
   margin: 0;
}



button{
    margin: 10px;
}

mat-form-field{
    width: 40%;
}
// mat-stepper{
//   background: radial-gradient(at top left, rgb(157, 230, 23), rgb(227, 227, 8));
//   margin-top: 20%;
//   justify-content: center;
// }
