.grad {
  background: radial-gradient(at top left, blue, rgb(43, 226, 67));
  height: 100vh;
  width: 100vw;
}

h1 {
  color: whitesmoke;
  text-align: center;
}

.vertical-center {
  margin-top: 20%;
  text-align: center;
}
